.navigation {
    height: 36;
    width: 100%;
    position: fixed;
    border-radius: 7%;
    background-color: rgba(128, 241, 241, 0.808);
}

.heading{
    align-items: center;
    padding-left: 45%;

}
span {
    content: "\002B";
    padding-left: 55%;
    font-size: 2em;
}